.footer {
    padding: 23px 0;

    h5 {
        font-size: 1.8rem;
        display: flex;
        justify-content: center;
    
        span {
            font-size: 1.8rem;
            font-weight: 400;
        }
    }
}

#info__wrap .alertError li {
    margin-bottom: 22px;
}